*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #f5f5f5;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 15px 40px;
}

.logo{
  color: white;
}

.menu{
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.menu li a:hover{
  color: orange;
}

.hero{
  text-align: center;
  padding: 80px 20px;
  background: #ddd;
}

.hero h1{
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p{
  font-size: 18px;
}

.contenido{
  padding: 40px;
  text-align: center;
}

.contenido h2{
  margin-bottom: 15px;
}

footer{
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}